/*
Morpheus API

Morpheus is a powerful cloud management tool that provides provisioning, monitoring, logging, backups, and application deployment strategies.  This document describes the Morpheus API protocol and the available endpoints. Sections are organized in the same manner as they appear in the Morpheus UI.

API version: 8.0.10
Contact: dev@morpheusdata.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sdk

import (
	"bytes"
	"context"
	"errors"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)

// HostsAPIService HostsAPI service
type HostsAPIService service

type ApiAddBaremetalHostRequest struct {
	ctx                     context.Context
	ApiService              *HostsAPIService
	addBaremetalHostRequest *AddBaremetalHostRequest
}

func (r ApiAddBaremetalHostRequest) AddBaremetalHostRequest(addBaremetalHostRequest AddBaremetalHostRequest) ApiAddBaremetalHostRequest {
	r.addBaremetalHostRequest = &addBaremetalHostRequest
	return r
}

func (r ApiAddBaremetalHostRequest) Execute() (*AddBaremetalHost200Response, *http.Response, error) {
	return r.ApiService.AddBaremetalHostExecute(r)
}

/*
AddBaremetalHost Add a Baremetal Host

Add a Baremetal Host

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAddBaremetalHostRequest
*/
func (a *HostsAPIService) AddBaremetalHost(ctx context.Context) ApiAddBaremetalHostRequest {
	return ApiAddBaremetalHostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AddBaremetalHost200Response
func (a *HostsAPIService) AddBaremetalHostExecute(r ApiAddBaremetalHostRequest) (*AddBaremetalHost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AddBaremetalHost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.AddBaremetalHost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/servers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.addBaremetalHostRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v UpdateAlerts4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v UpdateAlerts5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetHostRequest struct {
	ctx        context.Context
	ApiService *HostsAPIService
	id         int64
}

func (r ApiGetHostRequest) Execute() (*GetHost200Response, *http.Response, error) {
	return r.ApiService.GetHostExecute(r)
}

/*
GetHost Get a Specific Host

This endpoint retrieves a specific host.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Morpheus ID of the Object being referenced
	@return ApiGetHostRequest
*/
func (a *HostsAPIService) GetHost(ctx context.Context, id int64) ApiGetHostRequest {
	return ApiGetHostRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return GetHost200Response
func (a *HostsAPIService) GetHostExecute(r ApiGetHostRequest) (*GetHost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetHost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.GetHost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/servers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v UpdateAlerts4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v UpdateAlerts5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListHostsRequest struct {
	ctx               context.Context
	ApiService        *HostsAPIService
	name              *string
	phrase            *string
	zoneId            *int64
	siteId            *int64
	clusterId         *int64
	managed           *bool
	serverType        *string
	powerState        *string
	ip                *string
	vm                *bool
	vmHypervisor      *bool
	bareMetalHost     *bool
	status            *string
	agentInstalled    *bool
	max               *int64
	offset            *int64
	lastUpdated       *time.Time
	createdBy         *int64
	tagsName          *string
	metadata          *string
	uuid              *string
	externalId        *string
	internalId        *string
	externalUniquelId *string
}

// Filter by name
func (r ApiListHostsRequest) Name(name string) ApiListHostsRequest {
	r.name = &name
	return r
}

// Search phrase for partial matches on name or description
func (r ApiListHostsRequest) Phrase(phrase string) ApiListHostsRequest {
	r.phrase = &phrase
	return r
}

// The Cloud ID (Zone ID) for Filtering
func (r ApiListHostsRequest) ZoneId(zoneId int64) ApiListHostsRequest {
	r.zoneId = &zoneId
	return r
}

// The Group ID (Site ID) for Filtering
func (r ApiListHostsRequest) SiteId(siteId int64) ApiListHostsRequest {
	r.siteId = &siteId
	return r
}

// The Cluster ID(s) for filtering. Accepts multiple values.
func (r ApiListHostsRequest) ClusterId(clusterId int64) ApiListHostsRequest {
	r.clusterId = &clusterId
	return r
}

// Filter by managed (true) or unmanaged (false)
func (r ApiListHostsRequest) Managed(managed bool) ApiListHostsRequest {
	r.managed = &managed
	return r
}

// Filter by server type code
func (r ApiListHostsRequest) ServerType(serverType string) ApiListHostsRequest {
	r.serverType = &serverType
	return r
}

// Filter by power status
func (r ApiListHostsRequest) PowerState(powerState string) ApiListHostsRequest {
	r.powerState = &powerState
	return r
}

// Filter by IP address
func (r ApiListHostsRequest) Ip(ip string) ApiListHostsRequest {
	r.ip = &ip
	return r
}

// Filter to show only Virtual Machines (true)
func (r ApiListHostsRequest) Vm(vm bool) ApiListHostsRequest {
	r.vm = &vm
	return r
}

// Filter to show only VM Hypervisors (true)
func (r ApiListHostsRequest) VmHypervisor(vmHypervisor bool) ApiListHostsRequest {
	r.vmHypervisor = &vmHypervisor
	return r
}

// Filter to show only Baremetal Servers
func (r ApiListHostsRequest) BareMetalHost(bareMetalHost bool) ApiListHostsRequest {
	r.bareMetalHost = &bareMetalHost
	return r
}

// Filter by status
func (r ApiListHostsRequest) Status(status string) ApiListHostsRequest {
	r.status = &status
	return r
}

// Filter by agent installed (true)
func (r ApiListHostsRequest) AgentInstalled(agentInstalled bool) ApiListHostsRequest {
	r.agentInstalled = &agentInstalled
	return r
}

// Maximum number of records to return
func (r ApiListHostsRequest) Max(max int64) ApiListHostsRequest {
	r.max = &max
	return r
}

// Offset records, the number of records to skip, for paginating requests
func (r ApiListHostsRequest) Offset(offset int64) ApiListHostsRequest {
	r.offset = &offset
	return r
}

// Date filter, restricts query to only load resources updated more recently than the date specified (ISO 8601)
func (r ApiListHostsRequest) LastUpdated(lastUpdated time.Time) ApiListHostsRequest {
	r.lastUpdated = &lastUpdated
	return r
}

// The User ID for Filtering
func (r ApiListHostsRequest) CreatedBy(createdBy int64) ApiListHostsRequest {
	r.createdBy = &createdBy
	return r
}

// Filter by tags (metadata). This allows filtering by a tag name and value(s)
func (r ApiListHostsRequest) TagsName(tagsName string) ApiListHostsRequest {
	r.tagsName = &tagsName
	return r
}

// Alias for tags
func (r ApiListHostsRequest) Metadata(metadata string) ApiListHostsRequest {
	r.metadata = &metadata
	return r
}

// Filter by UUID, accepts multiple values
func (r ApiListHostsRequest) Uuid(uuid string) ApiListHostsRequest {
	r.uuid = &uuid
	return r
}

// Filter by External ID
func (r ApiListHostsRequest) ExternalId(externalId string) ApiListHostsRequest {
	r.externalId = &externalId
	return r
}

// Filter by Internal ID
func (r ApiListHostsRequest) InternalId(internalId string) ApiListHostsRequest {
	r.internalId = &internalId
	return r
}

// Filter by External Unique ID
func (r ApiListHostsRequest) ExternalUniquelId(externalUniquelId string) ApiListHostsRequest {
	r.externalUniquelId = &externalUniquelId
	return r
}

func (r ApiListHostsRequest) Execute() (*ListHosts200Response, *http.Response, error) {
	return r.ApiService.ListHostsExecute(r)
}

/*
ListHosts Get All Hosts

This endpoint retrieves a paginated list of hosts.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListHostsRequest
*/
func (a *HostsAPIService) ListHosts(ctx context.Context) ApiListHostsRequest {
	return ApiListHostsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ListHosts200Response
func (a *HostsAPIService) ListHostsExecute(r ApiListHostsRequest) (*ListHosts200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListHosts200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.ListHosts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/servers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.phrase != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "phrase", r.phrase, "form", "")
	}
	if r.zoneId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "zoneId", r.zoneId, "form", "")
	}
	if r.siteId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "siteId", r.siteId, "form", "")
	}
	if r.clusterId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "clusterId", r.clusterId, "form", "")
	}
	if r.managed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "managed", r.managed, "form", "")
	}
	if r.serverType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "serverType", r.serverType, "form", "")
	}
	if r.powerState != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "powerState", r.powerState, "form", "")
	}
	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "form", "")
	}
	if r.vm != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vm", r.vm, "form", "")
	}
	if r.vmHypervisor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vmHypervisor", r.vmHypervisor, "form", "")
	}
	if r.bareMetalHost != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bareMetalHost", r.bareMetalHost, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.agentInstalled != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "agentInstalled", r.agentInstalled, "form", "")
	}
	if r.max != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max", r.max, "form", "")
	} else {
		var defaultValue int64 = 25
		r.max = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int64 = 0
		r.offset = &defaultValue
	}
	if r.lastUpdated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lastUpdated", r.lastUpdated, "form", "")
	}
	if r.createdBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdBy", r.createdBy, "form", "")
	}
	if r.tagsName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags.name", r.tagsName, "form", "")
	}
	if r.metadata != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metadata", r.metadata, "form", "")
	}
	if r.uuid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "uuid", r.uuid, "form", "")
	}
	if r.externalId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "externalId", r.externalId, "form", "")
	}
	if r.internalId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "internalId", r.internalId, "form", "")
	}
	if r.externalUniquelId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "externalUniquelId", r.externalUniquelId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v UpdateAlerts4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v UpdateAlerts5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRemoveHostRequest struct {
	ctx                context.Context
	ApiService         *HostsAPIService
	id                 int64
	removeResources    *string
	removeInstances    *string
	preserveVolumes    *string
	releaseFloatingIps *string
	releaseEIPs        *string
	force              *string
}

// Remove Resources
func (r ApiRemoveHostRequest) RemoveResources(removeResources string) ApiRemoveHostRequest {
	r.removeResources = &removeResources
	return r
}

// Remove Instances
func (r ApiRemoveHostRequest) RemoveInstances(removeInstances string) ApiRemoveHostRequest {
	r.removeInstances = &removeInstances
	return r
}

// Preserve Volumes
func (r ApiRemoveHostRequest) PreserveVolumes(preserveVolumes string) ApiRemoveHostRequest {
	r.preserveVolumes = &preserveVolumes
	return r
}

// Release Floating IPs
func (r ApiRemoveHostRequest) ReleaseFloatingIps(releaseFloatingIps string) ApiRemoveHostRequest {
	r.releaseFloatingIps = &releaseFloatingIps
	return r
}

// Alias for releaseFloatingIps
func (r ApiRemoveHostRequest) ReleaseEIPs(releaseEIPs string) ApiRemoveHostRequest {
	r.releaseEIPs = &releaseEIPs
	return r
}

// Force Delete
func (r ApiRemoveHostRequest) Force(force string) ApiRemoveHostRequest {
	r.force = &force
	return r
}

func (r ApiRemoveHostRequest) Execute() (*RemoveGroups200Response, *http.Response, error) {
	return r.ApiService.RemoveHostExecute(r)
}

/*
RemoveHost Delete a Host

Will delete a host asynchronously.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Morpheus ID of the Object being referenced
	@return ApiRemoveHostRequest
*/
func (a *HostsAPIService) RemoveHost(ctx context.Context, id int64) ApiRemoveHostRequest {
	return ApiRemoveHostRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return RemoveGroups200Response
func (a *HostsAPIService) RemoveHostExecute(r ApiRemoveHostRequest) (*RemoveGroups200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RemoveGroups200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.RemoveHost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/servers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.removeResources != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "removeResources", r.removeResources, "form", "")
	} else {
		var defaultValue string = "on"
		r.removeResources = &defaultValue
	}
	if r.removeInstances != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "removeInstances", r.removeInstances, "form", "")
	} else {
		var defaultValue string = "off"
		r.removeInstances = &defaultValue
	}
	if r.preserveVolumes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "preserveVolumes", r.preserveVolumes, "form", "")
	} else {
		var defaultValue string = "off"
		r.preserveVolumes = &defaultValue
	}
	if r.releaseFloatingIps != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "releaseFloatingIps", r.releaseFloatingIps, "form", "")
	} else {
		var defaultValue string = "on"
		r.releaseFloatingIps = &defaultValue
	}
	if r.releaseEIPs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "releaseEIPs", r.releaseEIPs, "form", "")
	} else {
		var defaultValue string = "on"
		r.releaseEIPs = &defaultValue
	}
	if r.force != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "force", r.force, "form", "")
	} else {
		var defaultValue string = "off"
		r.force = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v UpdateAlerts4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v UpdateAlerts5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateHostRequest struct {
	ctx               context.Context
	ApiService        *HostsAPIService
	id                int64
	updateHostRequest *UpdateHostRequest
}

func (r ApiUpdateHostRequest) UpdateHostRequest(updateHostRequest UpdateHostRequest) ApiUpdateHostRequest {
	r.updateHostRequest = &updateHostRequest
	return r
}

func (r ApiUpdateHostRequest) Execute() (*GetHost200Response, *http.Response, error) {
	return r.ApiService.UpdateHostExecute(r)
}

/*
UpdateHost Updating a Host

Updating a Host

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Morpheus ID of the Object being referenced
	@return ApiUpdateHostRequest
*/
func (a *HostsAPIService) UpdateHost(ctx context.Context, id int64) ApiUpdateHostRequest {
	return ApiUpdateHostRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return GetHost200Response
func (a *HostsAPIService) UpdateHostExecute(r ApiUpdateHostRequest) (*GetHost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetHost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.UpdateHost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/servers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateHostRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v UpdateAlerts4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v UpdateAlerts5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
