/*
Morpheus API

Morpheus is a powerful cloud management tool that provides provisioning, monitoring, logging, backups, and application deployment strategies.  This document describes the Morpheus API protocol and the available endpoints. Sections are organized in the same manner as they appear in the Morpheus UI.

API version: 8.1.1
Contact: dev@morpheusdata.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sdk

import (
	"bytes"
	"context"
	"errors"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)

// InstancesAPIService InstancesAPI service
type InstancesAPIService service

type ApiAddInstanceRequest struct {
	ctx                context.Context
	ApiService         *InstancesAPIService
	addInstanceRequest *AddInstanceRequest
}

func (r ApiAddInstanceRequest) AddInstanceRequest(addInstanceRequest AddInstanceRequest) ApiAddInstanceRequest {
	r.addInstanceRequest = &addInstanceRequest
	return r
}

func (r ApiAddInstanceRequest) Execute() (*AddInstance200Response, *http.Response, error) {
	return r.ApiService.AddInstanceExecute(r)
}

/*
AddInstance Create an Instance

Create an Instance

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAddInstanceRequest
*/
func (a *InstancesAPIService) AddInstance(ctx context.Context) ApiAddInstanceRequest {
	return ApiAddInstanceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AddInstance200Response
func (a *InstancesAPIService) AddInstanceExecute(r ApiAddInstanceRequest) (*AddInstance200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AddInstance200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstancesAPIService.AddInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/instances"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.addInstanceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v UpdateAlerts4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v UpdateAlerts5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteInstanceRequest struct {
	ctx                context.Context
	ApiService         *InstancesAPIService
	id                 int64
	preserveVolumes    *string
	keepBackups        *string
	releaseFloatingIps *string
	releaseEIPs        *string
	force              *string
	removeVolumes      *string
}

// Preserve Volumes
func (r ApiDeleteInstanceRequest) PreserveVolumes(preserveVolumes string) ApiDeleteInstanceRequest {
	r.preserveVolumes = &preserveVolumes
	return r
}

// Preserve copy of backups
func (r ApiDeleteInstanceRequest) KeepBackups(keepBackups string) ApiDeleteInstanceRequest {
	r.keepBackups = &keepBackups
	return r
}

// Release Floating IPs
func (r ApiDeleteInstanceRequest) ReleaseFloatingIps(releaseFloatingIps string) ApiDeleteInstanceRequest {
	r.releaseFloatingIps = &releaseFloatingIps
	return r
}

// Alias for releaseFloatingIps
func (r ApiDeleteInstanceRequest) ReleaseEIPs(releaseEIPs string) ApiDeleteInstanceRequest {
	r.releaseEIPs = &releaseEIPs
	return r
}

// Force Delete
func (r ApiDeleteInstanceRequest) Force(force string) ApiDeleteInstanceRequest {
	r.force = &force
	return r
}

// Remove Volumes
func (r ApiDeleteInstanceRequest) RemoveVolumes(removeVolumes string) ApiDeleteInstanceRequest {
	r.removeVolumes = &removeVolumes
	return r
}

func (r ApiDeleteInstanceRequest) Execute() (*DeleteInstance200Response, *http.Response, error) {
	return r.ApiService.DeleteInstanceExecute(r)
}

/*
DeleteInstance Delete an instance

Will delete an instance and all associated monitors and backups.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Morpheus ID of the Object being referenced
	@return ApiDeleteInstanceRequest
*/
func (a *InstancesAPIService) DeleteInstance(ctx context.Context, id int64) ApiDeleteInstanceRequest {
	return ApiDeleteInstanceRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return DeleteInstance200Response
func (a *InstancesAPIService) DeleteInstanceExecute(r ApiDeleteInstanceRequest) (*DeleteInstance200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DeleteInstance200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstancesAPIService.DeleteInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/instances/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.preserveVolumes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "preserveVolumes", r.preserveVolumes, "form", "")
	} else {
		var defaultValue string = "off"
		r.preserveVolumes = &defaultValue
	}
	if r.keepBackups != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keepBackups", r.keepBackups, "form", "")
	} else {
		var defaultValue string = "off"
		r.keepBackups = &defaultValue
	}
	if r.releaseFloatingIps != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "releaseFloatingIps", r.releaseFloatingIps, "form", "")
	} else {
		var defaultValue string = "on"
		r.releaseFloatingIps = &defaultValue
	}
	if r.releaseEIPs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "releaseEIPs", r.releaseEIPs, "form", "")
	} else {
		var defaultValue string = "on"
		r.releaseEIPs = &defaultValue
	}
	if r.force != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "force", r.force, "form", "")
	} else {
		var defaultValue string = "off"
		r.force = &defaultValue
	}
	if r.removeVolumes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "removeVolumes", r.removeVolumes, "form", "")
	} else {
		var defaultValue string = "off"
		r.removeVolumes = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v UpdateAlerts4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v UpdateAlerts5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetEnvVariablesRequest struct {
	ctx        context.Context
	ApiService *InstancesAPIService
	id         int64
}

func (r ApiGetEnvVariablesRequest) Execute() (*GetEnvVariables200Response, *http.Response, error) {
	return r.ApiService.GetEnvVariablesExecute(r)
}

/*
GetEnvVariables Get Env Variables

This gets all the environment variables associated with the instance.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Morpheus ID of the Object being referenced
	@return ApiGetEnvVariablesRequest
*/
func (a *InstancesAPIService) GetEnvVariables(ctx context.Context, id int64) ApiGetEnvVariablesRequest {
	return ApiGetEnvVariablesRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return GetEnvVariables200Response
func (a *InstancesAPIService) GetEnvVariablesExecute(r ApiGetEnvVariablesRequest) (*GetEnvVariables200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetEnvVariables200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstancesAPIService.GetEnvVariables")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/instances/{id}/envs"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v UpdateAlerts4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v UpdateAlerts5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetInstanceRequest struct {
	ctx        context.Context
	ApiService *InstancesAPIService
	id         int64
	details    *bool
}

// Include details&#x3D;false to exclude extra details about the instance and its container(s) and server(s), ie. instancePrice, apps, powerSchedule, isScalable, instanceThreshold, containerDetails.server.
func (r ApiGetInstanceRequest) Details(details bool) ApiGetInstanceRequest {
	r.details = &details
	return r
}

func (r ApiGetInstanceRequest) Execute() (*GetInstance200Response, *http.Response, error) {
	return r.ApiService.GetInstanceExecute(r)
}

/*
GetInstance Retrieves a Specific Instance

Retrieves a specific instance.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Morpheus ID of the Object being referenced
	@return ApiGetInstanceRequest
*/
func (a *InstancesAPIService) GetInstance(ctx context.Context, id int64) ApiGetInstanceRequest {
	return ApiGetInstanceRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return GetInstance200Response
func (a *InstancesAPIService) GetInstanceExecute(r ApiGetInstanceRequest) (*GetInstance200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetInstance200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstancesAPIService.GetInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/instances/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.details != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "details", r.details, "form", "")
	} else {
		var defaultValue bool = true
		r.details = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v UpdateAlerts4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v UpdateAlerts5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetInstanceTypeProvisioningRequest struct {
	ctx        context.Context
	ApiService *InstancesAPIService
	id         int64
}

func (r ApiGetInstanceTypeProvisioningRequest) Execute() (*GetInstanceTypeProvisioning200Response, *http.Response, error) {
	return r.ApiService.GetInstanceTypeProvisioningExecute(r)
}

/*
GetInstanceTypeProvisioning Get Specific Instance Type for Provisioning

Fetch an instance type by ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Morpheus ID of the Object being referenced
	@return ApiGetInstanceTypeProvisioningRequest
*/
func (a *InstancesAPIService) GetInstanceTypeProvisioning(ctx context.Context, id int64) ApiGetInstanceTypeProvisioningRequest {
	return ApiGetInstanceTypeProvisioningRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return GetInstanceTypeProvisioning200Response
func (a *InstancesAPIService) GetInstanceTypeProvisioningExecute(r ApiGetInstanceTypeProvisioningRequest) (*GetInstanceTypeProvisioning200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetInstanceTypeProvisioning200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstancesAPIService.GetInstanceTypeProvisioning")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/instance-types/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v UpdateAlerts4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v UpdateAlerts5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListInstancesRequest struct {
	ctx             context.Context
	ApiService      *InstancesAPIService
	max             *int64
	offset          *int64
	name            *string
	phrase          *string
	zoneId          *int64
	siteId          *int64
	planId          *int64
	serverId        *int64
	parentServerId  *int64
	instanceType    *string
	lastUpdated     *time.Time
	createdBy       *int64
	agentInstalled  *bool
	status          *string
	environment     *string
	showDeleted     *bool
	deleted         *bool
	expireDate      *string
	expireDateMin   *string
	expireDays      *string
	expireDaysMin   *string
	shutdownDate    *string
	shutdownDateMin *string
	shutdownDays    *string
	shutdownDaysMin *string
	labels          *string
	allLabels       *string
	tagsName        *string
	details         *bool
}

// Maximum number of records to return
func (r ApiListInstancesRequest) Max(max int64) ApiListInstancesRequest {
	r.max = &max
	return r
}

// Offset records, the number of records to skip, for paginating requests
func (r ApiListInstancesRequest) Offset(offset int64) ApiListInstancesRequest {
	r.offset = &offset
	return r
}

// Filter by name
func (r ApiListInstancesRequest) Name(name string) ApiListInstancesRequest {
	r.name = &name
	return r
}

// Search phrase for partial matches on name or description
func (r ApiListInstancesRequest) Phrase(phrase string) ApiListInstancesRequest {
	r.phrase = &phrase
	return r
}

// The Cloud ID (Zone ID) for Filtering
func (r ApiListInstancesRequest) ZoneId(zoneId int64) ApiListInstancesRequest {
	r.zoneId = &zoneId
	return r
}

// The Group ID (Site ID) for Filtering
func (r ApiListInstancesRequest) SiteId(siteId int64) ApiListInstancesRequest {
	r.siteId = &siteId
	return r
}

// The Plan ID for Filtering
func (r ApiListInstancesRequest) PlanId(planId int64) ApiListInstancesRequest {
	r.planId = &planId
	return r
}

// The Server ID for Filtering
func (r ApiListInstancesRequest) ServerId(serverId int64) ApiListInstancesRequest {
	r.serverId = &serverId
	return r
}

// The Parent Server (Hypervisor) ID for Filtering
func (r ApiListInstancesRequest) ParentServerId(parentServerId int64) ApiListInstancesRequest {
	r.parentServerId = &parentServerId
	return r
}

// The Instance Type Code for Filtering
func (r ApiListInstancesRequest) InstanceType(instanceType string) ApiListInstancesRequest {
	r.instanceType = &instanceType
	return r
}

// Date filter, restricts query to only load resources updated more recently than the date specified (ISO 8601)
func (r ApiListInstancesRequest) LastUpdated(lastUpdated time.Time) ApiListInstancesRequest {
	r.lastUpdated = &lastUpdated
	return r
}

// The User ID for Filtering
func (r ApiListInstancesRequest) CreatedBy(createdBy int64) ApiListInstancesRequest {
	r.createdBy = &createdBy
	return r
}

// Filter instances by if agent is installed or not on the associated servers.
func (r ApiListInstancesRequest) AgentInstalled(agentInstalled bool) ApiListInstancesRequest {
	r.agentInstalled = &agentInstalled
	return r
}

// The instance status for filtering.
func (r ApiListInstancesRequest) Status(status string) ApiListInstancesRequest {
	r.status = &status
	return r
}

// The environment for filtering.
func (r ApiListInstancesRequest) Environment(environment string) ApiListInstancesRequest {
	r.environment = &environment
	return r
}

// If true, includes instances in pending removal status.
func (r ApiListInstancesRequest) ShowDeleted(showDeleted bool) ApiListInstancesRequest {
	r.showDeleted = &showDeleted
	return r
}

// If true, only deleted resources or instances in pending removal status are returned.
func (r ApiListInstancesRequest) Deleted(deleted bool) ApiListInstancesRequest {
	r.deleted = &deleted
	return r
}

// Filter by expireDate less than or equal to specified date
func (r ApiListInstancesRequest) ExpireDate(expireDate string) ApiListInstancesRequest {
	r.expireDate = &expireDate
	return r
}

// Filter expireDate greater than or equal to the specified date
func (r ApiListInstancesRequest) ExpireDateMin(expireDateMin string) ApiListInstancesRequest {
	r.expireDateMin = &expireDateMin
	return r
}

// Filter by expireDays less than or equal to the specified value
func (r ApiListInstancesRequest) ExpireDays(expireDays string) ApiListInstancesRequest {
	r.expireDays = &expireDays
	return r
}

// Filter by expireDays greater than or equal to the specified value
func (r ApiListInstancesRequest) ExpireDaysMin(expireDaysMin string) ApiListInstancesRequest {
	r.expireDaysMin = &expireDaysMin
	return r
}

// Filter by shutdownDate less than equal to the specified date
func (r ApiListInstancesRequest) ShutdownDate(shutdownDate string) ApiListInstancesRequest {
	r.shutdownDate = &shutdownDate
	return r
}

// Filter by shutdownDate greater than or equal to the specified date
func (r ApiListInstancesRequest) ShutdownDateMin(shutdownDateMin string) ApiListInstancesRequest {
	r.shutdownDateMin = &shutdownDateMin
	return r
}

// Filter by shutdownDays less than or equal to the specified value
func (r ApiListInstancesRequest) ShutdownDays(shutdownDays string) ApiListInstancesRequest {
	r.shutdownDays = &shutdownDays
	return r
}

// Filter by shutdownDays greater than or equal to the specified value
func (r ApiListInstancesRequest) ShutdownDaysMin(shutdownDaysMin string) ApiListInstancesRequest {
	r.shutdownDaysMin = &shutdownDaysMin
	return r
}

// Filter by label(s), matches records that contain any of the specified labels
func (r ApiListInstancesRequest) Labels(labels string) ApiListInstancesRequest {
	r.labels = &labels
	return r
}

// Filter by label(s), matches records that contain all of the specified labels
func (r ApiListInstancesRequest) AllLabels(allLabels string) ApiListInstancesRequest {
	r.allLabels = &allLabels
	return r
}

// Filter by tags (metadata). This allows filtering by a tag name and value(s)
func (r ApiListInstancesRequest) TagsName(tagsName string) ApiListInstancesRequest {
	r.tagsName = &tagsName
	return r
}

// Include details&#x3D;true to return more details about the instance and its container(s) and server(s), ie. instancePrice, apps, powerSchedule, isScalable, instanceThreshold, containerDetails.server.
func (r ApiListInstancesRequest) Details(details bool) ApiListInstancesRequest {
	r.details = &details
	return r
}

func (r ApiListInstancesRequest) Execute() (*ListInstances200Response, *http.Response, error) {
	return r.ApiService.ListInstancesExecute(r)
}

/*
ListInstances Get All Instances

This endpoint retrieves a paginated list of instances.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListInstancesRequest
*/
func (a *InstancesAPIService) ListInstances(ctx context.Context) ApiListInstancesRequest {
	return ApiListInstancesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ListInstances200Response
func (a *InstancesAPIService) ListInstancesExecute(r ApiListInstancesRequest) (*ListInstances200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListInstances200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstancesAPIService.ListInstances")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/instances"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.max != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max", r.max, "form", "")
	} else {
		var defaultValue int64 = 25
		r.max = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int64 = 0
		r.offset = &defaultValue
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.phrase != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "phrase", r.phrase, "form", "")
	}
	if r.zoneId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "zoneId", r.zoneId, "form", "")
	}
	if r.siteId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "siteId", r.siteId, "form", "")
	}
	if r.planId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "planId", r.planId, "form", "")
	}
	if r.serverId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "serverId", r.serverId, "form", "")
	}
	if r.parentServerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parentServerId", r.parentServerId, "form", "")
	}
	if r.instanceType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "instanceType", r.instanceType, "form", "")
	}
	if r.lastUpdated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lastUpdated", r.lastUpdated, "form", "")
	}
	if r.createdBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdBy", r.createdBy, "form", "")
	}
	if r.agentInstalled != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "agentInstalled", r.agentInstalled, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.environment != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "environment", r.environment, "form", "")
	}
	if r.showDeleted != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "showDeleted", r.showDeleted, "form", "")
	} else {
		var defaultValue bool = false
		r.showDeleted = &defaultValue
	}
	if r.deleted != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted", r.deleted, "form", "")
	}
	if r.expireDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expireDate", r.expireDate, "form", "")
	}
	if r.expireDateMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expireDateMin", r.expireDateMin, "form", "")
	}
	if r.expireDays != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expireDays", r.expireDays, "form", "")
	}
	if r.expireDaysMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expireDaysMin", r.expireDaysMin, "form", "")
	}
	if r.shutdownDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shutdownDate", r.shutdownDate, "form", "")
	}
	if r.shutdownDateMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shutdownDateMin", r.shutdownDateMin, "form", "")
	}
	if r.shutdownDays != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shutdownDays", r.shutdownDays, "form", "")
	}
	if r.shutdownDaysMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shutdownDaysMin", r.shutdownDaysMin, "form", "")
	}
	if r.labels != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "labels", r.labels, "form", "")
	}
	if r.allLabels != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allLabels", r.allLabels, "form", "")
	}
	if r.tagsName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags.name", r.tagsName, "form", "")
	}
	if r.details != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "details", r.details, "form", "")
	} else {
		var defaultValue bool = false
		r.details = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v UpdateAlerts4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v UpdateAlerts5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiResizeInstanceRequest struct {
	ctx                   context.Context
	ApiService            *InstancesAPIService
	id                    int64
	resizeInstanceRequest *ResizeInstanceRequest
}

func (r ApiResizeInstanceRequest) ResizeInstanceRequest(resizeInstanceRequest ResizeInstanceRequest) ApiResizeInstanceRequest {
	r.resizeInstanceRequest = &resizeInstanceRequest
	return r
}

func (r ApiResizeInstanceRequest) Execute() (*ResizeInstance200Response, *http.Response, error) {
	return r.ApiService.ResizeInstanceExecute(r)
}

/*
ResizeInstance Resize an Instance

It is possible to resize containers within an instance by increasing their memory plan or storage limit. This is done by assigning a new service plan to the container. This endpoint also allows for NIC reconfiguration by passing a new array of networkInterfaces

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Morpheus ID of the Object being referenced
	@return ApiResizeInstanceRequest
*/
func (a *InstancesAPIService) ResizeInstance(ctx context.Context, id int64) ApiResizeInstanceRequest {
	return ApiResizeInstanceRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return ResizeInstance200Response
func (a *InstancesAPIService) ResizeInstanceExecute(r ApiResizeInstanceRequest) (*ResizeInstance200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ResizeInstance200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstancesAPIService.ResizeInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/instances/{id}/resize"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.resizeInstanceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v UpdateAlerts4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v UpdateAlerts5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateInstanceRequest struct {
	ctx                   context.Context
	ApiService            *InstancesAPIService
	id                    int64
	updateInstanceRequest *UpdateInstanceRequest
}

func (r ApiUpdateInstanceRequest) UpdateInstanceRequest(updateInstanceRequest UpdateInstanceRequest) ApiUpdateInstanceRequest {
	r.updateInstanceRequest = &updateInstanceRequest
	return r
}

func (r ApiUpdateInstanceRequest) Execute() (*UpdateInstance200Response, *http.Response, error) {
	return r.ApiService.UpdateInstanceExecute(r)
}

/*
UpdateInstance Updating an Instance

Updating an Instance

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Morpheus ID of the Object being referenced
	@return ApiUpdateInstanceRequest
*/
func (a *InstancesAPIService) UpdateInstance(ctx context.Context, id int64) ApiUpdateInstanceRequest {
	return ApiUpdateInstanceRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return UpdateInstance200Response
func (a *InstancesAPIService) UpdateInstanceExecute(r ApiUpdateInstanceRequest) (*UpdateInstance200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UpdateInstance200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstancesAPIService.UpdateInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/instances/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateInstanceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v UpdateAlerts4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v UpdateAlerts5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
